@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
}

.pre-nav {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.pre-nav ul {
  flex: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pre-nav li img {
  height: 9px;
  width: 9px;
}

.topper {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.logo {
  margin: 0 0 0 0.45em;
}
.logo img {
  width: 100px;
}
.logo a {
  color: rgb(28, 24, 22);
}

.logo,
.navigation {
  list-style: none;
}

.logo a,
.navigation a {
  text-decoration: none;
  letter-spacing: 0.45rem;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: black;
}

.navigation a:hover {
  background: #00ace6;
}

.nav-item {
  color: #495057;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 #fff;
  font-size: 10px;
  text-transform: uppercase;
  padding-right: 5px;
}

.nav-item a:hover {
  background-color: #dbcc8f;
}

.bannerImage {
  width: 100%;
}
.display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  flex-direction: column;
}

.customer-info-security {
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  height: 330px;
}
.customer-info-security figure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.customer-info-security figure h2 {
  color: black;
  flex-wrap: wrap;
}
.customer-info-security figure img {
  height: 90px;
  width: 90px;
}
.customer-info-security figcaption {
  text-align: center;
  line-height: 1.4em;
  width: 265px;
}

.new-product-arrivals {
  width: 100%;
  background-color: #f8f9fa;
  /* display: flex; */
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  padding: 7em 0;
  position: relative;
}
.new-product-arrivals h2 {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.new-product-arrivals p {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 40px 40px 40px;
}
.new-product-arrivals section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.new-product-arrivals section figure {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  position: relative;
  height: auto;
  border: 0.1px solid #dbcc8f;
  width: 364px;
  background-color: #dbcc8f;
}
.new-product-arrivals section img {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  max-width: 83%;
  margin: 0 auto;
}

.new-product-arrivals section figure figcaption {
  padding: 1px;
  background-color: white;
  color: black;
  text-align: center;
  position: relative;
  max-width: 100%;
  line-height: 0;
}
.new-product-arrivals section figure figcaption a {
  height: 17px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dbcc8f;
}

main a:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  /* border: 1px solid #dbcc8f; */
  padding: 10px;
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
main a:last-child:hover {
  background-color: #dbcc8f;
}

footer {
  font-size: 14px;
  padding: 7em 0;
  color: rgba(255, 255, 255, 0.8);
  background: #000000;
  display: flex;
  flex-wrap: wrap;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
footer section:first-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}
footer article {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  line-height: 2;
}
footer article p {
  text-align: center;
}
footer article ul {
  list-style: none;
}
footer article ul li a:hover {
  color: #dbcc8f;
}

footer figure {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-wrap: wrap;
}

footer figure img {
  background-color: #ffffff;
  flex-wrap: wrap;
  border-radius: 20px;
}

footer figure img:hover {
  background-color: #dbcc8f;
}

footer section:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: auto;
  flex-wrap: wrap;
}
footer section:last-child > * {
  font-weight: 100;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .navigation {
    width: 100%;
    justify-content: space-around;
  }
  .display-flex-wrap {
    flex-direction: column;
  }
  .customer-info-security {
    flex-direction: column;
  }
  .customer-info-security figure {
    flex-direction: row;
  }
}

@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
    align-self: left;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

@media all and (max-width: 725px) {
  .pre-nav ul {
    text-align: center;
  }

  .display-flex-wrap {
    width: 425px;
    flex-direction: column;
  }

  .customer-info-security {
    width: 425px;
    flex-direction: column;
  }
  .customer-info-security figure {
    width: 425px;
    flex-direction: row;
  }

  .new-product-arrivals section {
    flex-direction: column;
    padding: 31px;
  }

  .new-product-arrivals section figure {
    margin: 5px;
  }

  footer section:first-child {
    flex-direction: column;
    text-align: center;
  }

  footer figure {
    display: block;
  }
}

@media all and (max-width: 375px) {
  .pre-nav,
  .flex-container,
  footer,
  .customer-info-security,
  .display-flex-wrap,
  .bannerImage {
    width: 100%;
  }

  .customer-info-security {
    height: auto;
  }

  .customer-info-security figure {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
  .new-product-arrivals section figure {
    width: 100%;
  }

  .new-product-arrivals h2 {
    font-size: 32px;
  }
  .new-product-arrivals p {
    font-size: 11px;
  }
}
